

h1 {    
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;

}

body {
    text-align: center;
    color: #b10e0e;
    font-family: "Droid Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
    background-color: #ffffff;
    color: #88F;
    font-size: 16px;
    margin: 0;
    padding: 0;

}